@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
html{
    background-color: rgb(218, 230, 225);
    background-image: url("../assets/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    margin: 0;
    
}



.welcome{
    position:relative;
    border:none;
    padding-bottom: 100px;
    margin:3px;
    background: linear-gradient(135deg,#86efad56,#b4ced171,#5297709d);
    padding: 10px 15px;
    border-radius: 12px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.17);

    transition: 0.3s ease;
    display: flex;
    padding:10px;
}
.welcome h1{
    position:relative;
    display:flex;
    left:20px;
    font-family:'Fredoka', sans-serif;
    font-size: 28px;
    font-weight:1900;
    word-spacing: 5px;
    

}
#quote{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight:100px;
}
.head{
    background: linear-gradient(to bottom,rgba(235, 233, 233, 0.479),rgba(255, 255, 0, 0.132));
    position:relative;
    width:30%;
    padding: 10px 15px;
    border-radius: 12px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.17);

    transition: 0.3s ease;
    display: flex;
    padding:10px;
}

.welcome p{
    border:1px solid rgba(245, 245, 245, 0);
    position: relative;
    display: flex;
    width: 400px;
    top:45px;
    left:20px;
    
    
}
.welcome #describe{
    position:relative;
    left: 30%;
    bottom:100px;
}
.welcome button[type="logout"]{
    position:absolute;
    border:none;
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.009),rgba(65, 64, 64, 0.215));
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;

    padding: 10px 15px;
    border-radius: 12px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    cursor: pointer;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.17);

    transition: 0.3s ease;
    display: flex;
    padding:10px;
    top: 20px;
    right: 20px;
}
button[type="logout"]:hover {
    background: rgba(255, 255, 255, 0.112);
    border-color: rgba(255, 255, 255, 0.5);

    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.15);

    transform: translateY(-2px);
}
